body {
	font-family: Verdana, sans-serif;
	background-image: linear-gradient(#4c94a8, #13424f);
	background-attachment: fixed;
	background-size: cover;
}

h1 {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 4%;
  left: 50%;
  text-align: center;
  color: white;
  background-color: #043542;
  border: 3px solid aqua;
  border-radius: 15px;
  padding: 10px;
}

.loginBox {
  position: fixed;
  display: block;
  margin: auto;
  text-align: center;
	background-color: #23465c;
	width: 190px;
	height: 186px;
	border: 3px solid aqua;
	border-radius: 10px;
  border-radius: 10px;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.passwordField {
	box-sizing: border-box;
	height: 30px;
	width: 140px;
	border-radius: 5px;
	margin: 0px;
}

.loginButton {
  height: 30px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #043542;
  color: white;
}

.myLabels {
	color: white;
	margin: 5px;
}
